{% extends "base.html" %}

{% block content %}

<div class="col-sm-12">
    <div><a class="btn btn-sm btn-warning" href="/">Back</a></div>
    {% if not classes %}
        <p>No classes scheduled for {{ month }}</p>
    {% elif action == "book" %}
        {% if classes.not_booked %}
            <p>You are being booked into the following classes (this will take a minute or two to complete):</p>
            <ul>
                {% for url in classes.not_booked %}
                <li><a href="{{ url }}">{{ url }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if classes.booked %}
            <p>You are already booked for the following classes:</p>
            <ul>
                {% for url in classes.booked %}
                <li><a href="{{ url }}">{{ url }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

    {% else %}
        {% if classes.not_booked %}
            <p>Still to book:</p>
            <ul>
                {% for url in classes.not_booked %}
                <li><a href="{{ url }}">{{ url }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if classes.booked %}
            {% if classes.not_booked %}
                <p>You are already booked for the following classes:</p>
            {% else %}
                <p>You are booked for all classes in {{ month }}.</p>
            {% endif %}
            <ul>
                {% for url in classes.booked %}
                <li><a href="{{ url }}">{{ url }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You are not booked for any classes in {{ month }}.</p>
        {% endif %}
    {% endif %}

</div>
{% endblock %}